.row.justify-content-center
  .col-xl-10.col-lg-12.col-md-9
    .card.o-hidden.border-0.shadow-lg.my-5
      .card-body.p-100
        .row
          .col-lg-12
            .p-5
              .text-center
                %h1.h4.text-gray-900.mb-4 #{@user.name} (#{@user.points()})
            = link_to 'Award a Strive', new_user_strive_path(@user), class:"btn btn-secondary"
            %p#notice #{notice}
            =image_tag @user.avatar, width: "200px"


            %p
              -@strive_categories.each do |strive_category|
                =strive_category.name
                %br 
                -@user.strive_by_category(strive_category.id).each do |strive|
                  =image_tag strive.badge.emblem, width: "80px"
                  =strive.reason
                  %br 
