.row
  %h1.h3.mb-0.text-gray-800 Leaderboard
.row
  .card-deck
    - @users.each do |user|
      .col-xl-3.col-md-6.mb-3
        .card{:style => "width: 15rem;"}
          -if user.avatar.present?
            =image_tag user.avatar, class: "card-img-top", width:"100"
          .card-body
            %h5.card-title 
              = link_to user.name, user_path(user)
          .card-footer.text-right
            -if current_user.admin? 
              = link_to 'Edit', edit_user_path(user), class:"btn btn-primary"