.card-deck
  .card.mb-4
    %img.card-img-top{:alt => "...", :src => "https://themes.startbootstrap.com/sb-admin-pro/assets/img/drawkit/color/drawkit-charts-and-graphs.svg"}/
    .card-body
      %h5.card-title.text-primary Interactive Charts
      %p.card-text The interactive charts in this theme are powered by Chart.js, a simple, yet flexible, JavaScript charting library for designers &amp; developers.
    %a.card-footer.d-flex.align-items-center.justify-content-between{:href => "/charts.html"}
      View charts
      %svg.feather.feather-arrow-right{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
        %line{:x1 => "5", :x2 => "19", :y1 => "12", :y2 => "12"}
        %polyline{:points => "12 5 19 12 12 19"}
  .card.mb-4
    %img.card-img-top{:alt => "...", :src => "https://themes.startbootstrap.com/sb-admin-pro/assets/img/drawkit/color/drawkit-developer-woman.svg"}/
    .card-body
      %h5.card-title.text-primary Documentation
      %p.card-text This theme includes code samples for each component, along with detailed documentation and usage instructions!
    %a.card-footer.d-flex.align-items-center.justify-content-between{:href => "https://docs.startbootstrap.com/sb-admin-pro/"}
      View documentation
      %svg.feather.feather-arrow-right{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
        %line{:x1 => "5", :x2 => "19", :y1 => "12", :y2 => "12"}
        %polyline{:points => "12 5 19 12 12 19"}
  .card.mb-4
    %img.card-img-top{:alt => "...", :src => "https://themes.startbootstrap.com/sb-admin-pro/assets/img/drawkit/color/drawkit-folder-man.svg"}/
    .card-body
      %h5.card-title.text-primary Pre-Built Pages
      %p.card-text A number of pre-built page examples and page layouts are included with this theme to make prototyping your next web application fast and efficient!
    %a.card-footer.d-flex.align-items-center.justify-content-between{:href => "#!"}
      Explore pages
      %svg.feather.feather-arrow-right{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
        %line{:x1 => "5", :x2 => "19", :y1 => "12", :y2 => "12"}
        %polyline{:points => "12 5 19 12 12 19"}
  .card.mb-4
    %img.card-img-top{:alt => "...", :src => "https://themes.startbootstrap.com/sb-admin-pro/assets/img/drawkit/color/drawkit-content-man.svg"}/
    .card-body
      %h5.card-title.text-primary Deep Customization
      %p.card-text Overried and extend the SCSS variables included with this project to deeply customize the theme to make it pefrectly fit your brand!
    %a.card-footer.d-flex.align-items-center.justify-content-between{:href => "#!"}
      Learn more
      %svg.feather.feather-arrow-right{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
        %line{:x1 => "5", :x2 => "19", :y1 => "12", :y2 => "12"}
        %polyline{:points => "12 5 19 12 12 19"}

