.row
  .col-md-6
    %h1.h3.mb-0.text-gray-800 Requests
  .col-md-6.text-right.mb-4
    = link_to 'New Request', new_request_path, class:"btn btn-primary"

.row
  / comment
  - @requests.each do |request|
    = render partial: "request_item", locals: { request: request }
